<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
  		<error-code>404</error-code>
  		<location>/errors/404.jsp</location>
  </error-page>
  
  
  <!-- 配置页面缓存 -->
    <filter>  
        <filter-name>SimplePageCachingFilter</filter-name>  
        <filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>  
    </filter>  
    <filter-mapping>  
        <filter-name>SimplePageCachingFilter</filter-name>  
        <url-pattern>/index.jsp</url-pattern>  
        <url-pattern>/product/list*</url-pattern>
    </filter-mapping>
    
  
  
  <!-- 先加载ServerContext监听器,在加载过滤器, 如果同级别,则先配置先加载 -->
  <!-- 配置session的早开晚关的过滤器  -->
  <filter>
     <filter-name>OpenSessionInViewFilter</filter-name>
     <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>OpenSessionInViewFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 解决post提交乱码问题 -->
 <filter>
	<filter-name>encoding</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>encoding</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
<!-- 配置检查员工是否登录的过滤器 -->
  <filter>
  	<filter-name>PrivilegeFilter</filter-name>
  	<filter-class>web.filter.PrivilegeFilter</filter-class>
  </filter>
    <filter-mapping>
  	<filter-name>PrivilegeFilter</filter-name>
  	<url-pattern>/control/*</url-pattern>
  </filter-mapping>

<!-- 配置检查用户是否登录的过滤器 -->
  <filter>
  	<filter-name>BuyerLogonValidateFilter</filter-name>
  	<filter-class>
		web.filter.BuyerLogonValidateFilter  
	</filter-class>
  </filter>
    <filter-mapping>
  	<filter-name>BuyerLogonValidateFilter</filter-name>
  	<url-pattern>/customer/*</url-pattern>
  </filter-mapping>
  
  <!-- 配置检查购物车是否购买了商品的过滤器 -->
  <filter>
  	<filter-name>BuyCartVaildateFilter</filter-name>
  	<filter-class>
  	web.filter.BuyCartVaildateFilter
	</filter-class>
  </filter>
    <filter-mapping>
  	<filter-name>BuyCartVaildateFilter</filter-name>
  	<url-pattern>/customer/shopping/*</url-pattern>
  </filter-mapping>

 
  <!-- 配置struts2的核心过滤器 -->
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
    <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  
  <!-- 监听session创建和销毁的监听器 -->
  <listener>
  	<listener-class>web.action.shopping.SiteSessionListener</listener-class>
  </listener>
  <listener>
  <listener-class>web.listener.SolrListener</listener-class>
  </listener>
  
  
  
  <!-- 指定上下文载入器的配置文件,默认从web根目录下选择配置文件,通过spring提供的classpath:前缀可以指定从类路径下查找-->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext-*.xml</param-value>
  </context-param>
  <!-- 配置上下文载入器 ,对spring容器实例化-->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/errors/404.jsp</location>
  </error-page>
</web-app>
